/target/
/aziokbd/
*.SaveableDenseData
*.SaveableSingleGame
*.SaveableActionSequence
*.tfrecords
/python/logs/
*.matt-desktop
*.local
*.NEWNEWNEW
/python/tmp/
.DS_Store
*.TFRecord
/python/venv/
*.log
*.config
/bin/
*.mp4
*.avi
*.mov

