<SearchConfiguration>
  <machine>
    <coreFraction>0.7</coreFraction>
    <coreMinimum>1</coreMinimum>
    <coreMaximum>32</coreMaximum>
    <logLevel>INFO</logLevel>
  </machine>
  <searchOperations>
    <stage type="max_depth">
      <maxDepth>10</maxDepth>
      <maxGames>10000</maxGames>
    </stage>
    <sampler type="ucb">
      <evaluationFunction type="constant">
        <constantValue>5.0</constantValue>
      </evaluationFunction>
      <rolloutPolicy type="window">
        <individualRollout type="decaying_horizon">
          <evaluationFunction type="constant">
            <constantValue>10.0</constantValue>
          </evaluationFunction>
          <rolloutController type="value_function">
            <valueFunction type="tflow_state_only">
              <fileName>src/main/resources/tflow_models/test.pb</fileName>
              <gameTemplate type="default"/>
              <hiddenLayerSizes>45</hiddenLayerSizes>
              <hiddenLayerSizes>55</hiddenLayerSizes>
              <inputSize>72</inputSize>
              <outputSize>1</outputSize>
            </valueFunction>
          </rolloutController>
          <maxTimesteps>200</maxTimesteps>
        </individualRollout>
        <selectionCriteria>BEST</selectionCriteria>
      </rolloutPolicy>
      <c>4.441495</c>
    </sampler>
    <saver type="null"/>
    <repetitionCount>0</repetitionCount>
  </searchOperations>
  <ui/>
  <actionGenerator type="fixed_actions_no_repeats">
    <allActionLists>
      <distribution type="equal"/>
      <none>34 </none>
      <qo>11 12 </qo>
    </allActionLists>
  </actionGenerator>
</SearchConfiguration>
