<SearchConfiguration>
  <machine>
    <coreFraction>0.5</coreFraction>
    <coreMinimum>1</coreMinimum>
    <coreMaximum>20</coreMaximum>
    <logLevel>DEBUG</logLevel>
  </machine>
  <searchOperations>
    <searchOperations>
      <stage type="max_depth">
        <maxDepth>10</maxDepth>
        <maxGames>10000</maxGames>
      </stage>
      <sampler type="ucb">
        <evaluationFunction type="constant">
          <constantValue>5.0</constantValue>
        </evaluationFunction>
        <rolloutPolicy type="end_score">
          <evaluationFunction type="constant">
            <constantValue>10.0</constantValue>
          </evaluationFunction>
          <controller type="null"/>
          <maxTimesteps>2147483647</maxTimesteps>
          <failureMultiplier>1.0</failureMultiplier>
        </rolloutPolicy>
        <c>5.612214</c>
      </sampler>
      <saver type="null"/>
      <repetitionCount>0</repetitionCount>
    </searchOperations>
  </searchOperations>
  <ui>
    <ui type="full"/>
  </ui>
</SearchConfiguration>
