# Directory for saved runs
saveLocation=./4_25_18
headless=false
workersFractionOfCores=0.8
UCBExplorationMultiplier=1

# Stage 1 toggle: find single long run from rest.
doStage1=false
fileSuffix1=
getToSteadyDepth=100
fractionOfMaxWorkers1=1
bailAfterXGames1=1000000

# Stage 2 toggle: find deviations from the long run.
doStage2=false
fileSuffix2=
trimSteadyBy=7
deviationDepth=2
fractionOfMaxWorkers2=0.25

# Stage 3 toggle: find recoveries from the deviations
doStage3=false
fileSuffix3=
recoveryActions=14
resumePoint=514
fractionOfMaxWorkers3=1
bailAfterXGames3=80000

# Stage 4 toggle: turn sparse data into a single dense TFRecord file.
doStage4=true
# Set trimStartBy to NOTHING for default behavior
trimStartByOverride=0
trimEndBy=4



